.u-text-center {
  text-align: center;
}
.u-margin-bottem-small {
  margin-bottom: 2rem;
}
.u-margin-bottem-medium {
  margin-bottom: 5rem;
}
.u-margin-bottem-large {
  margin-bottom: 8rem;
}
