.composition {
  position: relative;
  text-align: center;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    z-index: 1;
    outline-offset: 1rem;
    transition: all 0.2s;

    @include media(tab-port) {
      width: 25%;
    }

    &--photo1 {
      position: absolute;
      top: -2rem;
      left: 0;

      @include media(tab-port) {
        position: relative;
        top: 2rem;
        left: 2rem;
      }
    }
    &--photo2 {
      position: absolute;
      top: 2rem;
      right: 0;

      @include media(tab-port) {
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;
      }
    }
    &--photo3 {
      position: absolute;
      top: 10rem;
      left: 20%;

      @include media(tab-port) {
        position: relative;
        top: 1rem;
        left: -3rem;
      }
    }

    &:hover {
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      transform: scale(1.1);
      z-index: 2;
      outline: 1.5rem solid $color-primary-light;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
