.feature-box {
  text-align: center;
  font-size: 1.6rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);
  background-color: rgba($color: $color-white, $alpha: 0.8);

  @include media(tab-port) {
    width: 80%;
    margin: 0 auto;
  }

  &__icon {
    font-size: 6rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.45);
  }
}
