.story {
  width: 75%;
  padding: 6rem;
  background-color: rbga($color-white, 0.6);
  margin: auto;
  padding-left: 9rem;
  transform: skewX(-9deg);
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.2);

  @include media(phone) {
    padding: 0 3rem;
  }

  @include media(tab-port) {
    transform: skewX(0);
    width: 100%;
  }

  &__fig {
    width: 12rem;
    height: 12rem;
    clip-path: circle();
    float: left;
    shape-outside: circle();
    transform: translateX(-3rem);
    position: relative;

    @include media(phone) {
      width: 8rem;
      height: 8rem;
      float: none;
      margin: 1rem auto;
      transform: translateX(0);
    }

    figcaption {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      text-align: center;
      opacity: 0;
    }

    img {
      height: 100%;
      transform: translateX(-2rem);
    }
  }

  &:hover figcaption {
    opacity: 1;
    transition: all 0.5s;
  }
  &:hover img {
    transition: all 0.5s;
    backface-visibility: hidden;
    filter: blur(8px) brightness(85%);
  }

  &__text {
    text-align: left;
  }

  &__title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &__details {
  }
}
