.row {
  max-width: $grid-width;
  display: block;
  margin: 0 auto;
  @include clearfix;

  @include media(tab-land) {
    max-width: 850px;
  }

  @include media(tab-port) {
    max-width: 600px;
  }

  &:not(:last-child) {
    margin-bottom: $grid-bottom-margin;

    @include media(tab-port) {
      margin-bottom: 2rem;
    }
  }

  .col-1-2 {
    width: calc((100% - #{$grid-gutter}) / 2);
  }

  .col-1-3 {
    width: calc((100% - #{$grid-gutter} * 2) / 3);
  }

  .col-2-3 {
    width: calc(((100% - #{$grid-gutter} * 2) / 3) * 2 + #{$grid-gutter});
  }

  .col-1-4 {
    width: calc((100% - #{$grid-gutter} * 3) / 4);
  }

  .col-2-4 {
    width: calc(((100% - #{$grid-gutter} * 3) / 4) * 2 + #{$grid-gutter});
  }

  .col-3-4 {
    width: calc(((100% - #{$grid-gutter} * 3) / 4) * 3 + #{$grid-gutter} * 2);
  }

  & [class^='col-'] {
    float: left;
    &:not(:last-child) {
      margin-right: $grid-gutter;

      @include media(tab-port) {
        margin-right: 0;
      }
    }

    @include media(tab-port) {
      float: none;
      width: 100%;
      margin-bottom: 3rem;
    }

    @include media(phone) {
      margin-bottom: 0;
    }
  }
}
