.row {
  max-width: 140rem;
  display: block;
  margin: 0 auto;
  background-color: #666;
  @include clearfix;

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  [class^='col-'] {
    background-color: red;
    color: white;
    float: left;

    &:not(:last-child) {
      margin-right: $grid-gutter;
    }
  }

  .col-1-2 {
    width: calc((100% - #{$grid-gutter}) / 2);
  }

  .col-1-3 {
    width: calc((100% - #{$grid-gutter} * 2) / 3);
  }

  .col-2-3 {
    // width: calc((100% - #{$grid-gutter} * 2) / 3 * 2);
  }
}
